/* catering */

.catering {
    padding-top: 8rem;
    background-image: url(../assets/images/bg-partnership.jpg);
    backdrop-filter: blur(5px);
    padding-bottom: 2rem;
}

.catering h2 {
    font-family: 'Cinzel',serif;
    font-size: 2rem;
    color: #C07F00;
    font-weight: 500;
    padding-bottom: 2rem;
}

.card-img-catering {
  width: 100%;

  border-radius: 30px;
}

.card-catering {
    backdrop-filter: blur(7px);
    margin-top: 2rem;
    object-fit: cover;
    width: 20rem;
    background-color: #ffffff3c;
    border-radius: 30px;
}

.card-catering-title {
    color: #ffffff;
    font-weight: 500;
    font-family: 'poppins', sans-serif;
    padding-top: 1rem;

}

.catering .card-catering .btn {
    color: #fff;
    font-weight: 500;
    background-color: #000;
    margin: 1rem;
}

.card-catering .btn:hover {
    color: #fff;
    font-weight: 700;
    background-color: #916000;
}


/* Media Mobile */

@media (max-width: 575.98px) { 

    .catering {
    font-size: 2rem;
    color: #C07F00;
    font-weight: 500;
    padding-bottom: 2rem;
    padding-top: 6rem;
    }
    
    .card-catering {
        margin-top: 2rem;
        object-fit: cover;
        width: 12rem;
    }
    
    .card-catering-title {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
    }
    .card-catering-text {
        font-size: 10px;
        font-weight: 400;
    }
    
    .catering .card-catering .btn {
        color: #fff;
        font-weight: 500;
        background-color: #000;
        font-size: 10px;
    }
    
    .card-catering .btn:hover {
        color: #fff;
        font-weight: 700;
        background-color: #916000;
    }
    
 }
