.location {
    padding-top: 2rem ;
    padding-bottom: 2rem ;
    font-family: 'poppins', sans-serif;
    background-color: black;
}

.location h1 {
    color: #C07F00;
}

.location p {
    color: #fff;
}

.maps {
    border-radius: 30px;
}

.location a {
    color: #fff;
    background-color: #C07F00;
    border-radius: 20px;
    font-weight: 500;
    margin-top: 1rem;
}

.location a:hover {
    color: #fff;
    background-color: #ffaa00;
    border-radius: 20px;
    font-weight: 500;
    margin-top: 1rem;
}