* {
    box-sizing: border-box;
}

.partnership {
    background-image: url(../assets/images/bg-partnership.jpg);
    padding-top: 4rem;
}

.partnership h1,h2 {
    font-family: 'cinzel', serif;
    font-weight: 600;
    color: #C07F00;
}

.partnership h3 {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    color: #C07F00;
}

/* OwL Carousel */
button:focus, input:focus, textarea:focus {
	outline: 0;
}

.card_wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}

.head_text {
	font-family: bromega-Bold;
	font-size: 45px;
}

.head_para {
	margin-top: 15px;
}

.card_box {
	background: #ffffff3c;
	border-radius: 20px;
	margin-top: 2rem;
	transition: .3s;
	margin-bottom: 40px;
    backdrop-filter: blur(7px);
}

.card_box:hover {
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05);
	transform: translateY(-10px);
}

.card_text {
	padding: 30px 20px 25px 20px;
}

.card_text h4 {
	font-size: 18px;
	font-family: 'poppins', sans-serif;
	color: #ffaa01;
    font-weight: 700;
}

.card_text .mc {
	 font-size: 1.2rem;
	 line-height: 150%;
	 margin-top: 10px;
	 color: #ffffff;
     text-decoration: none;
}

.slider_carousel .owl-nav {
	 position: absolute;
	 top: 50%;
	 width: 100%;
}

.slider_carousel .owl-prev, .slider_carousel .owl-next {
	width: 40px;
	height: 40px;
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	position: absolute;
	top: 50%;
}

.slider_carousel .owl-next {
    right: -50px;
}

.slider_carousel .owl-prev {
    left: -50px;
}

.img-fluid {
    border-radius: 20PX;
    background-size: cover;
}